<@override name="popTitle">会员列表</@override>

<@override name="body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab-content">
                        <div class="layui-form-item layui-form">
                            <div class="layui-input-inline">
                                <input class="layui-input" id="keywords" name="keywords" value="${pd.keywords}" placeholder="这里输入关键词" autocomplete="off" />
                            </div>
                            <div class="layui-btn-group layui-inline">
                                <div class="layui-input-inline">
                                    <button class="layui-btn" lay-submit="" lay-filter="form-submit" title="搜索"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </div>
                        </div>
                        <table class="layui-hide" id="test-table-page" lay-filter="test-table-toolbar"></table>
                        <script type="text/html" id="zizeng">
                            {{d.LAY_TABLE_INDEX+1}}
                        </script>
                        <script type="text/html" id="test-table-toolbar-barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit" title="编辑"><i class="layui-icon" style="margin-left:3px;">&#xe642;</i></a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除"><i class="layui-icon" style="margin-left:3px;">&#xe640;</i></a>
                        </script>
                    </div>
                    <div class="layui-tab-content layui-btn-group">
                        <#if QX.add == 1><button class="layui-btn layui-btn-primary" lay-type="add" title="新增"><i class="layui-icon">&#xe654;</i></button></#if>
                        <#if QX.del == 1><button class="layui-btn layui-btn-danger" lay-type="allDel" title="批量删除"><i class="layui-icon">&#xe640;</i></button></#if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</@override>

<@override name="foot"></@override>

<@override name="JS">
layui.config({
    base: '${webPath}/' //静态资源所在路径
}).extend({
    index: 'js/index' //主入口模块
}).use(['index','form', 'table', 'site'], function(){
    var form = layui.form, table = layui.table, site = layui.site, $ = layui.$,active = {
        common:function(_url,_title,_width,_height){
            layer.open({
                type: 2,
                title: _title,
                id: 'LAY_layui_CODE',
                shade: 0.8,
                area: [_width, _height],
                content: [_url,'no']
            });
        },
        add: function(e){
            var url = "${webPath}/createCode/goProductCode.do?CREATECODE_ID=add";
            active.common(url,'新增','800px','500px');
        },
        allDel: function(){
            var checkStatus = table.checkStatus('test-table-page'),data = checkStatus.data;
            var ids =new Array();
            for(var i=0;i<data.length;i++){
                ids.push(data[i].CREATECODE_ID);
            }
            layer.confirm('确定要删除选中的数据吗', function(index){
                site.post("${webPath}/createCode/deleteAll.do",
                 {DATA_IDS:ids.join(','),tm:new Date().getTime()},function(data){
                    table.reload("test-table-page",{ page: {curr: 1 } });
                    layer.close(index);
                });
            });
        }
    };
    $('.layui-card-body .layui-btn').on('click', function(){
        var type = $(this).attr("lay-type");
        active[type] ? active[type].call(this) : '';
    });

    form.on('submit(form-submit)', function(data){
        var field = data.field;
        table.reload('test-table-page', {
            page: {
                currentPage: 1 //重新从第 1 页开始
            },where: {
                keywords: field.keywords
            }
        });
        return false;
    });

    table.render({
        elem: '#test-table-page'
        ,url: '${webPath}/createCode/list'
        ,method: 'post'
        ,cols: [[
            {type:'checkbox'}
            ,{field:'', title: '序号',templet:'#zizeng'}
            ,{field:'TITLE', title: '说明'}
            ,{field:'PACKAGENAME', title: '包名'}
            ,{field:'OBJECTNAME', title: '类名'}
            ,{field:'TABLENAME', title: '表名'}
            ,{field:'TYPE', title: '类型'}
            ,{field:'CREATETIME', title: '创建时间'}
            ,{fixed:'right', title:'操作', width:'15%', toolbar: '#test-table-toolbar-barDemo',align: 'center'}
        ]]
        ,page: true
        ,request: {
            pageName: 'currentPage' //页码的参数名称，默认：page
            ,limitName: 'showCount' //每页数据量的参数名，默认：limit
        }
        ,request: {
            pageName: 'currentPage' //页码的参数名称，默认：page
            ,limitName: 'showCount' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "data": res.varList, //解析数据列表
                "count": res.count
            };
        }
        ,done: function(){
            $("[data-field='TYPE']").children().each(function(){
                if($(this).text()=='single'){
                    $(this).text("单表")
                }else if($(this).text()=='tree'){
                    $(this).text("树形")
                }else if($(this).text()=='fathertable'){
                    $(this).text("主表")
                }else if($(this).text()=='sontable'){
                    $(this).text("明细表")
                }
            });
            $("[data-field='TABLENAME']").children().each(function(){
                var data = $(this).text().replace(",fh,","");
                $(this).text(data);
            });
        }
    });
    //监听行工具事件
    table.on('tool(test-table-toolbar)', function(obj){
        var _data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('确定要删除吗', function(index){
                site.post("${webPath}/createCode/delete.do",
                 {CREATECODE_ID:_data.CREATECODE_ID,tm:new Date().getTime()},function(data){
                    table.reload("test-table-page",{ page: {curr: 1 } });
                    layer.close(index);
                });
            });
        } else if(obj.event === 'edit'){
            var url = "${webPath}/createCode/goProductCode.do?CREATECODE_ID="+_data.CREATECODE_ID;
            active.common(url,'编辑','800px','500px');
        }
    });

});
</@override>

<@extends name="base/base.ftl"/>