<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ENoseDataMapper">
	<resultMap id="enoseDataResultMap" type="com.fit.entity.epsm.Enosedata">
		<id column="ENOSEDATA_ID" property="enosedataid" jdbcType="VARCHAR" />
		<result column="ENOSESERIALNO" property="enoseserialno" jdbcType="VARCHAR" />
		<result column="DYSODIATYPE" property="dysodiatype" jdbcType="VARCHAR" />
		<result column="DYSODIAVALUE" property="dysodiavalue" jdbcType="VARCHAR" />
	    <result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="TESTTIME" property="testtime" jdbcType="TIMESTAMP" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		
		<association property="enose" column="ENOSESERIALNO" javaType="com.fit.entity.epsm.Enose">
			<id column="ENOSE_ID" property="enoseid"/>
			<result column="ADDRESSLATITUDE" property="addresslatitude"/>
			<result column="ADDRESSLONGITUDE" property="addresslongitude"/>
		</association>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		T_EPSM_ENOSEDATA
	</sql>
	
	<!--表名 -->
	<sql id="enoseTableName">
		T_EPSM_ENOSE
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ENOSESERIALNO,	
		DYSODIATYPE,	
		DYSODIAVALUE,
		STATUS,	
		TESTTIME,		
		CREATETIME,	
		ENOSEDATA_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ENOSESERIALNO},	
		#{DYSODIATYPE},	
		#{DYSODIAVALUE},	
		#{STATUS},
		#{TESTTIME},		
		#{CREATETIME},			
		#{ENOSEDATA_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ENOSEDATA_ID = #{ENOSEDATA_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ENOSESERIALNO = #{ENOSESERIALNO},
			DYSODIATYPE = #{DYSODIATYPE},
			DYSODIAVALUE = #{DYSODIAVALUE},
			STATUS = #{STATUS},
			TESTTIME = #{TESTTIME},
			CREATETIME = #{CREATETIME},
			
			ENOSEDATA_ID = ENOSEDATA_ID
		where 
		ENOSEDATA_ID = #{ENOSEDATA_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ENOSEDATA_ID = #{ENOSEDATA_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ENOSEDATA_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	<insert id="insertByBatch" parameterType="java.util.List">
        insert into 
        <include refid="tableName"></include>
        (<include refid="Field"></include>) values 
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.enoseserialno}, #{item.dysodiatype},#{item.dysodiavalue},#{item.status},#{item.testtime},#{item.createtime},#{item.enosedataid})
        </foreach>
    </insert>
    
    
    <!-- 列表 -->
	<select id="enoseDatalist" parameterType="page" resultMap="enoseDataResultMap" >
	select * from(
		select
			a.ENOSESERIALNO,
			a.DYSODIATYPE,
			a.DYSODIAVALUE,
			a.STATUS,
			a.TESTTIME,
			a.CREATETIME,
			a.ENOSEDATA_ID,
			b.ENOSE_ID,
			b.ADDRESSLATITUDE,
			b.ADDRESSLONGITUDE
		from 
		<include refid="tableName"></include> a
		left join 
		<include refid="enoseTableName"></include> b
		on a.ENOSESERIALNO=b.ENOSESERIALNO ) t1
		where t1.TESTTIME = (		
		SELECT max(TESTTIME) FROM(
		
		select
			a.ENOSESERIALNO,
			a.DYSODIATYPE,
			a.DYSODIAVALUE,
			a.STATUS,
			a.TESTTIME,
			a.CREATETIME,
			a.ENOSEDATA_ID,
			b.ENOSE_ID,
			b.ADDRESSLATITUDE,
			b.ADDRESSLONGITUDE
		from 
		<include refid="tableName"></include> a
		left join 
		<include refid="enoseTableName"></include> b
		on a.ENOSESERIALNO=b.ENOSESERIALNO ) 
		t2 WHERE 
		<if test="pd.enoseId !=null and pd.enoseId !=''">
			 b.ENOSE_ID=#{pd.enoseId} and
		</if>
		t1.ENOSESERIALNO = t2.ENOSESERIALNO)
		
	</select>
	
	<!-- 
	获取电子鼻24hour统计数据
	<select id="getEnoseData24hour" parameterType="pd" resultType="pd">
		select
			a.DYSODIAVALUE
		from 
		<include refid="tableName"></include> a
		LEFT JOIN t_epsm_enose b ON a.ENOSESERIALNO = b.ENOSESERIALNO
		<where>
				1 = 1
			    <if test="enoseId != null and enoseId != ''">
			    	and b.ENOSE_ID = #{enoseId}
			    </if>
			    and 
				a.CREATETIME BETWEEN (SELECT CURRENT_TIMESTAMP - INTERVAL '1 day')
				and CURRENT_TIMESTAMP
		</where>
		ORDER BY a.CREATETIME DESC
	</select> -->
	
	<!-- 获取电子鼻24hour统计数据 -->
	<select id="getEnoseData24hour" parameterType="pd" resultType="pd">
		SELECT	AVG (num :: INTEGER) as dysodiavalue,TESTTIME FROM
		(
			SELECT
				to_char(
					TESTTIME,
					'YYYY-MM-DD HH24:00:00'
				) AS testtime,
			dysodiavalue AS num
			FROM
			t_epsm_enosedata where TESTTIME BETWEEN (SELECT CURRENT_TIMESTAMP - INTERVAL '1 day')
				and CURRENT_TIMESTAMP
		) AS foo
		GROUP BY TESTTIME
	</select>
	
	<!-- 获取电子鼻数据历史列表 -->
	<select id="enoseDataHistorylistPage" parameterType="page" resultType="pd">	
			select
			a.DYSODIATYPE,
			a.DYSODIAVALUE,
			a.STATUS,
			a.TESTTIME,
			a.CREATETIME
		from 
		<include refid="tableName"></include> a
		left join 
		<include refid="enoseTableName"></include> b
		on a.ENOSESERIALNO=b.ENOSESERIALNO
		<where>
			 <if test="pd.enoseId != null and pd.enoseId !=''">
         		b.ENOSE_ID = #{pd.enoseId}
   			 </if>  	
		</where>
		ORDER BY a.TESTTIME DESC
	</select>
	
	
	<!-- 统计电子鼻数据条数 -->
	<select id="getEnoseDataCount" parameterType="page" resultType="java.lang.Integer">	
			select
			count(*)
		from 
		<include refid="tableName"></include> a
		left join 
		<include refid="enoseTableName"></include> b
		on a.ENOSESERIALNO=b.ENOSESERIALNO
		<where>
			 <if test="pd.enoseId != null and pd.enoseId !=''">
         		b.ENOSE_ID = #{pd.enoseId}
   			 </if>  	
		</where>
	</select>
	<!-- 313596790qq(青苔) -->
</mapper>