<@override name="popTitle">角色列表</@override>

<@override name="body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab-content">
                        <div class="layui-form-item layui-form">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="KEYWORD" name="KEYWORD" placeholder="这里输入关键词" autocomplete="off" />
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline layui-form">
                                    <select name="STATUS" id="LAY_STATUS_ID">
                                        <option value="">请选择状态</option>
                                        <option value="">全部</option>
                                        <option value="1" <#if pd.STATUS==1>selected</#if>>有效</option>
                                        <option value="2" <#if pd.STATUS==2>selected</#if>>无效</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-btn-group layui-inline">
                                <div class="layui-input-inline">
                                    <#if QX.cha == 1>
                                        <button class="layui-btn" lay-submit="" lay-filter="form-submit" title="搜索"><i class="layui-icon">&#xe615;</i></button>
                                    </#if>
                                    <#if QX.toExcel == 1><button class="layui-btn" data-type="toExcel" title="导出到EXCEL"><i class="layui-icon">&#xe601;</i></button></#if>
                                </div>
                            </div>
                        </div>
                        <table class="layui-hide" id="test-table-page" lay-filter="test-table-toolbar"></table>
                        <script type="text/html" id="zizeng">
                            {{d.LAY_TABLE_INDEX+1}}
                        </script>
                        <script type="text/html" id="test-table-toolbar-barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                    <div class="layui-tab-content layui-btn-group">
                        <#if QX.add == 1><button class="layui-btn layui-btn-primary" lay-type="add" title="新增"><i class="layui-icon">&#xe654;</i></button></#if>
                        <#if QX.del == 1><button class="layui-btn layui-btn-danger" lay-type="allDel" title="批量删除"><i class="layui-icon">&#xe640;</i></button></#if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</@override>

<@override name="foot"></@override>

<@override name="JS">
layui.config({
    base: '${webPath}/' //静态资源所在路径
}).extend({
    index: 'js/index' //主入口模块
}).use(['form', 'table','index','site','form'], function(){
    var admin = layui.admin,$ = layui.$, form = layui.form, table = layui.table
        , site = layui.site, active = {
        common:function(_url,_title,_width,_height){
            layer.open({
                type: 2,
                title: _title,
                id: 'LAY_layui_AppUser',
                shadeClose: true,
                shade: 0.8,
                area: [_width, _height],
                content: _url
            });
        },
        add: function(e){
            var url = "${webPath}/command/goAdd.do";
            active.common(url,'新增','600px','359px');
        },
        allDel: function(){
            var checkStatus = table.checkStatus('test-table-page'),data = checkStatus.data;
            var ids =new Array();
            for(var i=0;i<data.length;i++){
                ids.push(data[i].COMMAND_ID);
            }
            layer.confirm('确定要删除选中的数据吗', function(index){
            site.post("${webPath}/command/deleteAll.do",
                {DATA_IDS:ids.join(','),tm:new Date().getTime()},function(data){
                    table.reload("test-table-page",{ page: {curr: 1 } });
                    layer.close(index);
                });
            });
        }
    };
    $('.layui-card-body .layui-btn').on('click', function(){
        var type = $(this).attr("lay-type");
        active[type] ? active[type].call(this) : '';
    });

    form.on('submit(form-submit)', function(data){
        var field = data.field;
        console.log(field);
        table.reload('test-table-page', {
            page: {
                currentPage: 1 //重新从第 1 页开始
            },where: {
                KEYWORD: field.KEYWORD,
                STATUS: field.STATUS
            }
        });
        return false;
    });

    table.render({
        elem: '#test-table-page'
        ,url: '${webPath}/command/list'
        ,method: 'post'
        ,cols: [[
            {type:'checkbox'}
            ,{field:'', title: '序号',templet:'#zizeng'}
            ,{field:'KEYWORD', title: '关键词'}
            ,{field:'COMMANDCODE', title: '应用路径'}
            ,{field:'BZ', title: '备注'}
            ,{field:'CREATETIME', title: '创建时间'}
            ,{field:'STATUS', title: '状态'}
            ,{fixed:'right', title:'操作', width:'15%', toolbar: '#test-table-toolbar-barDemo',align: 'center'}
        ]]
        ,page: true
        ,request: {
            pageName: 'currentPage' //页码的参数名称，默认：page
            ,limitName: 'showCount' //每页数据量的参数名，默认：limit
        }
        ,parseData: function(res){ //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "data": res.varList, //解析数据列表
                "count": res.count
            };
        }
        ,done: function(){
            $("[data-field='STATUS']").children().each(function(){
                if($(this).text()==1){
                    $(this).text("有效")
                }else if($(this).text()==2){
                    $(this).text("无效")
                }
            });
        }
    });
    //监听行工具事件
    table.on('tool(test-table-toolbar)', function(obj){
        var _data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('确定要删除吗?', function(index){
                site.post("${webPath}/command/delete.do",
                 {COMMAND_ID:_data.COMMAND_ID,tm:new Date().getTime()},function(data){
                    table.reload("test-table-page",{ page: {curr: 1 } });
                    layer.close(index);
                });
            });
        } else if(obj.event === 'edit'){
            var url = "${webPath}/command/goEdit.do?COMMAND_ID="+_data.COMMAND_ID;
            active.common(url,'编辑','600px','359px');
        }
    });
});
</@override>

<@extends name="base/base.ftl"/>